.layout {
    font-weight: bold;
    height: 15vh;
    background:rgb(192, 12, 72);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 1rem;
  }

.layout a {
    color: #fff;
    text-decoration: none;
  }

  .layout form {
    display: flex;
    align-items: center;
    width: 60vw;
    height: 12vh;
    padding-left: 1%;
  }

  .layout input {
    background:rgb(235, 46, 109);
    width: 70%;
    height: 50%;
    outline: none;
  }

  .nav {
   width: 17%;
   height: 80vh;
  }



  .burger {
    display: none;
}

.zInd {
  z-index: 1;
}

  @media all and (max-width: 500px) {
    .closeNav {
      display: none;
    }
    .burger {
        display: flex;
        margin: 0px 20px;
    }
}

  .nav div {
    display: flex;
    align-items: center;
    width: 90%;
    height: 7%;
    margin: 20px 10px;
    padding-left: 10px;
   }

  .main {
    display: flex;
   }

   .countCart {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgb(93, 223, 81);
     width: 20px;
     border-radius: 50%;
    color: #fff;
    position: relative;
    margin-left: 50px;
    margin-bottom: -10px;
   }

.changeNavItem {
  background-color: rgb(212, 203, 203);
}