.layout {
    font-weight: bold;
    height: 90px;
    background:rgb(0, 217, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-bottom: 1rem;
  }

.layout a {
    color: #fff;
    text-decoration: none;
  }
