.wrap {
    display: flex;
}

.home {
    margin-left: 10px;
}

.home button {
    margin-right: 10px;
    border: none;
}

.selectNumberPage {
    width: 40px;
    background-color: blue;
    color: #fff;
}