.wrap {
    display: flex;
}

.home {
    margin: 20px 0px;
}

.home button {
    margin-right: 10px;
    border: none;
}

.selectNumberPage {
    display: flex;
    justify-content: center;
    width: 20px;
    background-color: blue;
    color: #fff;
}

.numberPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: blue;
}

.numberPage:hover {
    border: 1px solid blue;
}

.pagination {
    display: flex;
    margin: 5px;
}

.pagination div, .pagination span {
    display: flex;
    margin: 0px 5px;
}

@media all and (max-width: 700px) {
.home span {
    margin-left: 5px ;
}
}