.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.container img {
  margin-right: 20px;
  width: 300px;
  height: auto;
}

.container form {
  margin: 20px 0px;
  width:  70vw;
  height: 10vh;
  padding-left: 0px;
}

.container input {
  width:  80%;
  height: 10vh;
}

.container button {
  width: 70px;
  height: 10vh;
}

.container p {
  color: rgb(209, 16, 16);
}

.discription {
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  padding-right: 20px;
}

.inCard {
  margin-top: 10%;
  margin-right: 30px;
  margin-bottom: 10px;
}

.comment {
  width: 70vw;
  height: 10vh;
  border-radius: 5px;
  background-color: rgb(233, 224, 224);
  margin: 7px 0px;
  padding: 10px;
}

@media all and (max-width: 700px) {
  .container {
    font-size: 11px;
  }
  .container img {
    width: auto;
    height: 150px;
  }
  .comment {
    width: 90vw;
    margin-left: 5px;
  }
  .container input {
    width: 70%;
  }
}
