.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.products {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
    border-radius: 5px;
    height: 200px;

}


.discription {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}

.products img {
    padding-right: 10px;
    padding-left: 20px;
    width: auto;
    height: 150px;
}

@media all and (max-width: 450px) {
    .wrapper {
        align-content: center;
    }
    .products {
        justify-content: center;
        padding-left: 3px;
        flex-wrap: wrap;
        align-items: center;

    }
    .products img {
        height: 150px;
        width: auto;
    }
}

.but {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.but button {
    width: 100px;
    height: 30px;
}